{% extends "base.html.twig" %}
{% block title %}Admin Controls{% endblock %}

{% block body %}
    If you can see this you are an admin! :) <br>
    <a href="{{ path("homepage") }}">Back to Home</a>

    <div>
        <form method="post">
        </form>
    </div>
{% endblock %}