<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
    </head>
    <body>
        Welcome {{ username }}! <br>
        <a href="{{ path("app_logout") }}">Logout</a>
    </body>
</html>