<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method="post">
            <div>
                Username: <input type="text" name="username" required autofocus></input>
            </div>
            <div>
                Password: <input type="password" name="password"></input>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>