{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}

{% block js_libraries %}
<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/form_scripts.js"></script>
{% endblock %}

{% block body %}
    {% if message is defined %}
        <div>
            {{ message }}
        </div>
        </br>
    {% endif %}
    
    REGISTER:
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form(form, {'method': 'POST', 'attr': {'id': 'siteForm'}}) }}
    <button type="submit" id="create_user" form="siteForm">Submit</button>

    <div>
        <a href="{{ path('app_login') }}">Back to Login</a>
    </div>
{% endblock %}