{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}

{% block js_libraries %}
<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/form_scripts.js"></script>
{% endblock %}

{% block body %}
{% if form is not defined %}
    <div id="messages"></div>
    REGISTER:
    <form method="post" id="siteForm">
        <div>
            Username: <input type="text" name="reg_username"><br>
        </div>
        <div>
            Password: <input type="password" name="reg_password"><br>
        </div>
        <button type="submit" id="create_user">Submit</button>
    </form>
    <div>
        <a href="{{ path('app_login') }}">Back to Login</a>
    </div>
{% else %}
{{ form(form) }}
{% endif %}
{% endblock %}

{% block javascripts %}
<script>
    $('#siteForm').submit(function(e){
        submitRequest(e, '{{ path("create_user") }}');
    });
</script>
{% endblock %}