{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}

{% block body %}
    {% if notification %}
    {% endif %}
    REGISTER:
    <form method="post" action="{{ path('create_user') }}">
        <div>
            Username: <input type="text" name="reg_username"><br>
        </div>
        <div>
            Password: <input type="password" name="reg_password"><br>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div>
        <a href="{{ path('app_login') }}">Back to Login</a>
    </div>
{% endblock %}