{% extends "base.html.twig" %}
{% block title %}Error{% endblock %}

{% block body %}
    <div>
        {% if error_message is defined %}
            {{ error_message }}
        {% else %}
            Oops! Something went wrong!
        {% endif %}
    </div>
    <a href="{{ path("homepage") }}">Back to Home</a>
{% endblock %}